/* rectwrapper */


	#rectwrapper {
		border-radius:5px;
		background-color: #20212b;
		height: fit-content;
		width: fit-content;
		position: relative;
		padding: 5em 0 2em 0;
		opacity: 1; 
	}